cxx-sensors/src/main/resources/rules.xsd

<?xml version="1.0" encoding="us-ascii"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="rules">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="rule">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="key" type="xs:string"/>
                            <!--
                            <xs:element minOccurs="0" name="configkey" type="xs:string" />
                            -->
                            <xs:element name="cardinality" minOccurs="0" maxOccurs="1" >
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="SINGLE"/>
                                        <xs:enumeration value="MULTIPLE"/>
                                    </xs:restriction>
                                </xs:simpleType>
                           </xs:element>
                            <!--
                            <xs:element minOccurs="0" name="priority" type="xs:string" />
                            -->
                            <xs:element name="name" type="xs:string" />
                            <xs:element name="description" type="xs:string" />
                            <!--
                            Optional format of description. Supported values are HTML.
                            -->
                            <xs:element name="descriptionFormat" minOccurs="0" maxOccurs="1">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="HTML" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="tag" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element name="internalKey" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <!--
                            Optional deprecated rules keys for this rule. See org.sonar.api.server.rule.RulesDefinition.Rule.deprecatedRuleKeys
                            If you want to rename the key of a rule register the rule's previous key. This will allow SonarQube to support
                            "issue re-keying" for this rule. If the key of an existing rule is changed without declaring deprecated keys, existing
                            issues for this rule, created under the rule's previous key, will be closed and new ones will be created under the
                            issue's new key. Several deprecated keys can be provided to allow SonarQube to support several key changes across
                            multiple versions of a plugin.
                            -->
                            <xs:element name="deprecatedKey" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                            <!--
                            Default severity when enabling the rule in a Quality profile.
                            Possible values are INFO, MINOR, MAJOR (default), CRITICAL, BLOCKER.
                            -->
                            <xs:element name="severity" >
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="BLOCKER"/>
                                        <xs:enumeration value="CRITICAL"/>
                                        <xs:enumeration value="MAJOR"/>
                                        <xs:enumeration value="MINOR"/>
                                        <xs:enumeration value="INFO"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <!--
                            Type as defined by the SonarQube Quality Model. Possible values are CODE_SMELL (default), BUG and VULNERABILITY.
                            -->
                            <xs:element name="type" minOccurs="0" maxOccurs="1">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="BUG"/>
                                        <xs:enumeration value="CODE_SMELL"/>
                                        <xs:enumeration value="VULNERABILITY"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <!--
                            There are three possible rule statuses: BETA, READY (default), and DEPRECATED. Sometimes, rules are first issued
                            in BETA status and then moved to READY. Most rules are in READY status; READY to be used in production. When Sonar
                            developers realize that a rule no longer makes sense, they first deprecate the rule, then eventually drop it.
                            -->
                            <xs:element name="status" minOccurs="0" maxOccurs="1">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="BETA"/>
                                        <xs:enumeration value="READY"/>
                                        <xs:enumeration value="DEPRECATED"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="remediationFunction" minOccurs="0" maxOccurs="1" >
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="LINEAR"/>
                                        <xs:enumeration value="LINEAR_OFFSET"/>
                                        <xs:enumeration value="CONSTANT_ISSUE"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="remediationFunctionBaseEffort" type="xs:string" minOccurs="0" maxOccurs="1" />
                            <xs:element name="remediationFunctionGapMultiplier" type="xs:string" minOccurs="0" maxOccurs="1" />
                            <xs:element name="gapDescription" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="param"  minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="key" type="xs:string"/>
                                        <xs:element name="description" type="xs:string"/>
                                        <xs:element name="defaultValue" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <!--
                        <xs:attribute name="key" type="xs:string" use="required" />
                        <xs:attribute name="description" type="xs:string" use="required" />
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="severity" type="xs:string" use="required" />
                        -->
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>