sonar-cxx-plugin/src/main/resources/com/sonar/cxx-model-project.xsd

<?xml version="1.0" encoding="us-ascii"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sqaleManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="rules">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="rule">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="requirement">
					  <xs:simpleType>
						<xs:restriction base="xs:string">
<!--							<xs:enumeration value="Portability"/>	-->
							<xs:enumeration value="Compiler related portability"/>
							<xs:enumeration value="Hardware related portability"/>
							<xs:enumeration value="Language related portability"/>
							<xs:enumeration value="OS related portability"/>
							<xs:enumeration value="Software related portability"/>
							<xs:enumeration value="Time zone related portability"/>
<!--							<xs:enumeration value="Maintainability"/>-->
							<xs:enumeration value="Readability"/>
							<xs:enumeration value="Understandability"/>
<!--							<xs:enumeration value="Security"/>-->
							<xs:enumeration value="API abuse"/>
							<xs:enumeration value="Errors"/>
							<xs:enumeration value="Input validation and representation"/>
							<xs:enumeration value="Security features"/>
<!--							<xs:enumeration value="Efficiency"/>-->
							<xs:enumeration value="Memory use"/>
							<xs:enumeration value="ROM related efficiency"/>
							<xs:enumeration value="RAM related efficiency"/>
<!--							<xs:enumeration value="Changeability"/>-->
							<xs:enumeration value="Architecture related changeability"/>
							<xs:enumeration value="Data related changeability"/>
							<xs:enumeration value="Logic related changeability"/>
<!--							<xs:enumeration value="Reliability"/>-->
							<xs:enumeration value="Architecture related reliability"/>
							<xs:enumeration value="Data related reliability"/>
							<xs:enumeration value="Exception handling"/>
							<xs:enumeration value="Architecture related reliability"/>
							<xs:enumeration value="Fault tolerance"/>
							<xs:enumeration value="Instruction related reliability"/>
							<xs:enumeration value="Logic related reliability"/>
							<xs:enumeration value="Statement related reliability"/>
							<xs:enumeration value="Synchronization related reliability"/>
							<xs:enumeration value="Unit tests"/>
<!--							<xs:enumeration value="Testability"/>-->
							<xs:enumeration value="Integration level testability"/>
							<xs:enumeration value="Unit level testability"/>
<!--							<xs:enumeration value="Reusability"/>-->
							<xs:enumeration value="Modularity"/>
							<xs:enumeration value="Transportability"/>
<!--		define place holder which will not be considered for transcription/>-->
							<xs:enumeration value="undefined"/>
						</xs:restriction>
                      </xs:simpleType>
                    </xs:element>					
                    <xs:element name="remediationFactorVal" type="xs:double" />
                    <xs:element name="remediationFactorUnit">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="d|h|mn|undefined"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="remediationFunction">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="linear|linear_offset|constant_resource|undefined"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>                  
                    <xs:element name="severity">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:pattern value="BLOCKER|CRITICAL|MAJOR|MINOR|INFO|undefined"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="repo" type="xs:string" />
                    <xs:element name="description" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="key" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>